@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 120px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

//Home
.hero-scene{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background-color: $primary;
        background-size: cover;
    }

    *{
        //Content over background
        position: relative;
    }  

    .hero-scene-content{
            height: 170px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

}

//Carsharing Form
#carsharing-form{
    position: relative;
    background-color: white;
    border: solid 1px #708B90;
    border-radius: 10px;
    padding: 10px; 

    .form-control, 
    .form-select{
        color: $secondary;
    }

    .mb-3{
        position: relative;
    }

    .icon{
        position: absolute;
        top: calc(50%);
        left: 0.5rem;
    }

    .mb-3 label, .mb-3 .form-control{
        left: .5rem;
        padding-left: 2rem;
    }

    .form-select{
        left: .5rem;
        padding-left: 2rem;
    }
}

//Carousel
.carousel{
    margin-top: 10%;
}

.carousel-item-picture{
    opacity: 0.7;
    position: relative;
    ::before{
        content: "";
        position: absolute;
    }

    .carousel-caption{
    color: black;
    height: 50%;
    }
}

.carousel-inner{
    border: solid 1px #708B90;
    border-radius: 10px;
}

.carousel-caption-description{
    color: black;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

//Signin form
#connexion-form{
    position: relative;
    background-color: white;
    border: solid 1px #708B90;
    border-radius: 10px;
    padding: 10px; 

    .form-label{
        color: $primary;
    }

    .form-control{
        color: $secondary;
    }

    .mb-3{
        position: relative;
    }

    .icon{
        position: absolute;
        top: calc(50%);
        left: 0.5rem;
    }

    .mb-3 label, .mb-3 .form-control{
        padding-left: 0.5rem;
    }
}

.background{
    background-color: $primary;
    position: absolute;
    width: 100%;
    height: 85%;
}

//link on primary color background
.link-white, 
.link-white:visited{
    color: white !important;
    text-decoration: none;
}
 .link-white:hover{
    text-decoration: underline;
 }

 .link-white:focus,
 .link-white:focus-visible{
    outline: none;
    box-shadow: 0 0 0 3px rgba(66,94,81,0.28);
    border-radius: 4px;
 }

 .link-white:active{
    color: #c4c3c3;
 }